:host {
  display: inline;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.phonetic-ipa {
  display: inline;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
}

.phonetic-ipa--inline {
  display: inline;
}
