<button mat-button [matMenuTriggerFor]="toolsMenu" class="menu-tools__trigger">
  <mat-icon>build</mat-icon>
  Инструменты
</button>

<mat-menu #toolsMenu="matMenu">
  <a mat-menu-item routerLink="/tools/cards" routerLinkActive="menu-link--active">
    <mat-icon>style</mat-icon>
    <span>Карточки</span>
  </a>
  <a mat-menu-item routerLink="/tools/scenario-builder" routerLinkActive="menu-link--active">
    <mat-icon>view_list</mat-icon>
    <span>Конструктор сценариев</span>
  </a>
</mat-menu>
