/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-editor-dialog {
  @media (max-width: 47.99rem) {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh;
    max-height: 100vh !important;
  }
}

.card-editor-dialog .mat-mdc-dialog-content {
  max-height: calc(90vh - 8rem);

  @media (max-width: 47.99rem) {
    max-height: calc(100vh - 8rem);
  }
}

.scenario-builder-dialog {
  @media (max-width: 47.99rem) {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh;
    max-height: 100vh !important;
  }
}

.scenario-builder-dialog .mat-mdc-dialog-content {
  max-height: calc(90vh - 8rem);

  @media (max-width: 47.99rem) {
    max-height: calc(100vh - 8rem);
  }
}
